@font-face {
  font-family: "Harmonia";
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/HarmoniaSansProCyr-SemiBd.woff2) format("woff2"); }

.container {
  max-width: 1200px; }

.navbar-light .navbar-nav .nav-link {
  color: #324ca5;
  text-decoration: none; }

.navbar-light .navbar-nav .nav-link.active {
  text-decoration: underline;
  color: #fa38a5; }

body {
  font-family: "Arial", "Harmonia", sans-serif;
  font-size: 22px;
  line-height: 140%;
  color: #000000; }

a {
  color: #ffffff;
  text-decoration: underline; }

img {
  max-width: 100%; }

.main-banner {
  max-height: 515px;
  position: relative;
  padding: 10px 0; }

.main-banner .swiper-container {
  width: 100%;
  height: 100%;
  max-height: 515px;
  position: absolute;
  top: 0; }

.swiper-slide {
  background-position: center;
  background-size: cover; }

.head-logo {
  width: 230px; }

.main-banner__title {
  font-family: "Harmonia";
  font-size: 48px;
  line-height: 100%;
  text-align: center;
  z-index: 2;
  position: relative;
  color: #ffffff;
  margin: 120px auto 170px; }

.about-task {
  padding-bottom: 120px; }

.about-task__title {
  font-size: 36px;
  text-align: center;
  margin: 70px 0 80px; }

.requirement {
  background-image: url(../img/bg_parallax.jpg);
  color: #ffffff;
  padding: 10px 0 60px;
  position: relative; }
  .requirement__title {
    font-size: 48px;
    font-family: "Harmonia";
    text-align: center;
    margin: 60px 0 60px;
    z-index: 2;
    position: relative; }
  .requirement ol {
    list-style-position: inside;
    z-index: 2;
    position: relative; }
  .requirement::after {
    position: absolute;
    content: "";
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3); }

.form {
  background-color: #ebebeb;
  padding: 50px 112px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .form__name {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 20px;
    max-width: 100%; }
  .form__phone {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 20px;
    max-width: 100%; }
  .form__feedback {
    display: none; }
    .form__feedback:checked + label::before {
      background-image: url(../img/check.png);
      background-position: 2px -8px; }
  .form label {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    position: relative;
    padding-left: 55px;
    margin-bottom: 20px; }
    .form label::before {
      display: block;
      content: "";
      position: absolute;
      width: 40px;
      height: 40px;
      left: 0;
      top: -5px;
      background-color: #ffffff;
      border: 1px solid #818181; }
  .form button {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    border: 1px solid #818181;
    background-color: #fff;
    text-transform: uppercase;
    padding: 10px 40px 10px 20px;
    position: relative;
    cursor: pointer; }
    .form button::after {
      position: absolute;
      content: "";
      background-image: url("../img/send.png");
      width: 24px;
      height: 18px;
      top: 17px;
      right: 23px; }

.form-ofice {
  padding: 10px 0 70px; }
  .form-ofice__title {
    font-size: 36px;
    text-align: center;
    font-family: "Harmonia";
    margin: 20px 0 45px; }

.office-img {
  -ms-flex-pack: justify;
      justify-content: space-between; }
  .office-img a {
    -ms-flex-preferred-size: 49%;
        flex-basis: 49%; }
  .office-img img {
    margin-bottom: 20px;
    margin-right: 5px; }

.main-footer {
  background-color: #818181;
  bottom: 0;
  width: 100%;
  color: #ffffff;
  padding: 30px 0;
  z-index: 10; }
  .main-footer__konf {
    border-bottom: 1px solid #bfbfbf; }
  @media (max-width: 767px) {

  body {
    font-size: 16px; }

  .head-logo {
    width: 150px; }

  .main-banner__title {
    font-size: 28px; }

  .office-img {
    -ms-flex-pack: center;
    justify-content: center; } }
  @media (max-width: 1200px) {

  .form {
    padding: 30px 60px; }

  .office-img a {
    padding: 0 10px; } }
  @media (max-width: 991px) {

  .form {
    padding: 30px 10px; } }
