@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/Robotobold.woff2) format("woff2"), url(../fonts/Robotobold.woff) format("woff"); }

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/Roboto.woff2) format("woff2"), url(../fonts/Roboto.woff) format("woff"); }

body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 15px;
  line-height: 140%;
  color: #292929;
  background-color: #fdfdfd; }

img {
  max-width: 100%; }

a {
  text-decoration: none;
  color: #fdfdfd; }
  a:hover {
    text-decoration: none;
    color: #979797; }

.main-header {
  position: relative;
  background-color: #373644;
  min-height: 100vh; }
  .main-header::after {
    content: '';
    position: absolute;
    display: block;
    background-image: url(../img/down-arrow.png);
    width: 22px;
    height: 40px;
    bottom: 20px;
    left: 50%;
    margin-left: -11px;
    animation-name: down-arrow;
    animation-duration: 1600ms;
    animation-iteration-count: infinite; }

.water-effect {
  position: absolute;
  height: 100%;
  left: 0;
  right: 0;
  background-image: url(../img/bg-head.jpg);
  background-size: cover; }

.navbar-brand {
  padding-top: 7px;
  padding-left: 10px; }

.canvas-header {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  max-width: 100%; }

.head-promo {
  position: relative;
  margin-top: 10%;
  padding-bottom: 10px;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  color: #fdfdfd; }
  .head-promo__title {
    margin: 20px 0; }
  .head-promo__second-title {
    margin: 20px 0; }
  .head-promo__text {
    margin: 10px 0;
    font-size: 17px; }

.nav-link {
  text-transform: capitalize;
  font-size: 16px; }

@keyframes down-arrow {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(-15px); }
  100% {
    transform: translateY(0px); } }

.our-price {
  min-height: 100vh;
  background-color: #4f5a69;
  padding: 30px 0 35px;
  color: #fdfdfd; }
  .our-price__title {
    text-align: center;
    margin: 10px 0 25px; }

.price-item {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  text-align: center;
  background-color: #4c6381;
  height: 100%; }
  .price-item__title {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-size: 16px;
    padding: 18px 12px;
    border-bottom: 1px solid #4c6381;
    border-top: 1px solid #4c6381;
    font-weight: 700;
    background-image: linear-gradient(to bottom, #4f5a69 0%, #4c6381 100%);
    background-repeat: repeat-x;
    color: #fdfdfd; }
  .price-item__price {
    background-image: linear-gradient(to bottom, #4c6381 0%, #4f5a69 100%);
    font-size: 18px;
    color: #fdfdfd;
    padding: 18px 12px; }
  .price-item__list {
    padding: 20px 5px 35px 30px;
    font-size: 14px;
    text-align: left;
    font-style: italic;
    list-style: none; }
    .price-item__list li {
      padding: 7px 5px;
      position: relative; }
      .price-item__list li::before {
        content: "";
        position: absolute;
        display: block;
        background: url(/img/check.svg);
        width: 20px;
        height: 20px;
        left: -20px; }

.our-service {
  min-height: 100vh;
  padding: 40px 0 30px; }
  .our-service__title {
    text-align: center;
    margin: 10px 0 35px; }
  .our-service__item {
    margin: 10px 0 15px;
    color: #292929;
    padding: 10px 15px;
    display: block;
    height: 100%;
    box-shadow: 0 0 5px 1px #292929;
    border-radius: 5px;
    position: relative; }
    .our-service__item::before {
      position: relative;
      display: block;
      content: "";
      width: 80px;
      height: 80px;
      border-radius: 5px;
      margin: 10px auto 20px;
      background-size: cover;
      background-image: url(../img/sozdanie-site.png); }

.service-site__title {
  text-align: center;
  font-size: 20px;
  margin-bottom: 15px; }

.service-mobile::before {
  background-image: url(../img/mobile-prilog.jpg); }

.service-disain::before {
  background-image: url(../img/design_icon.png); }

.service-mobile-prol::before {
  background-image: url(../img/mobile-prilog.jpg); }

.service-seo::before {
  background-image: url(../img/seo-icon.png); }

.service-reklama::before {
  background-image: url(../img/Social_Marketing-icon.png); }

.our-portfolio {
  min-height: 100vh;
  padding: 30px 0 40px; }
  .our-portfolio__title {
    text-align: center;
    margin: 10px 0 35px; }

.portfolio-site {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr); }
  .portfolio-site__item {
    margin-bottom: 10px;
    position: relative;
    z-index: 1;
    overflow: hidden; }
    .portfolio-site__item::before {
      content: attr(data-title);
      height: 40%;
      padding: 30px;
      font-size: 100%;
      font-weight: bold;
      color: #ffffff;
      position: absolute;
      z-index: -1;
      width: 100%;
      text-align: center;
      background: #333333;
      box-sizing: border-box;
      transition: transform 0.3s ease-in-out;
      transform: translateX(-80px); }
    .portfolio-site__item::after {
      position: absolute;
      content: attr(data-description);
      top: 40%;
      height: 60%;
      padding: 0 20px;
      color: #d7bb97;
      z-index: -1;
      width: 100%;
      text-align: center;
      background: #333333;
      box-sizing: border-box;
      transition: transform 0.3s ease-in-out;
      transform: translateX(-80px); }
    .portfolio-site__item:hover::after {
      transform: translateX(0); }
    .portfolio-site__item:hover::before {
      transform: translateX(0); }
    .portfolio-site__item img {
      display: block;
      width: 100%;
      transition: transform 0.3s ease;
      height: 100%; }
    .portfolio-site__item:hover img {
      transform: translateX(100%); }

.testimonials {
  min-height: 50vh;
  background-color: #373644;
  padding: 35px 0 45px;
  color: #fdfdfd; }
  .testimonials__title {
    display: block;
    text-align: center;
    margin: 15px 0 30px; }

.swiper-container--testemonial {
  max-width: 700px;
  color: #fdfdfd;
  margin: 10px 0;
  padding: 30px 0 40px; }

.testemonial-item {
  padding: 10px  45px 10px; }
  .testemonial-item__text {
    font-size: 120%; }

.main-footer {
  background-color: #373644;
  padding: 30px 0 45px; }

.btn {
  padding: 10px;
  display: inline-block; }
  .btn--call {
    border-radius: 15px;
    background-color: #ff450e;
    text-transform: uppercase;
    padding: 10px 20px;
    margin-top: 20px; }

.callback-main {
  padding: 25px 0 30px;
  text-align: center; }

.feedback {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 500px;
  margin: 10px auto;
  -ms-flex-pack: center;
      justify-content: center;
  background-color: #fdfdfd; }

.our-client {
  min-height: 40vh;
  padding-top: 20px;
  border-top: 1px solid #dddddd; }
  .our-client__title {
    text-align: center; }
